
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@1,300&family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

body {
  height: 90vh;
  background-image: url('https://freevector-images.s3.amazonaws.com/uploads/vector/preview/40529/White_Background_generated.jpg');
  background-size: cover;
}

.custom-navbar {
  background-color: #e3f2fd;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}

.navbar-brand {
  padding: 0.5rem;
}

.Magician-txt {
  color: white;
}

.screen {
  height: 4rem;
  background-color: #a5a5ab;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 2.5rem;
  padding: 1rem;
}

.wrapper {
  background: #06161e;
  width: 50rem;
  height: 32rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 4px 33px 50px 26px rgba(0, 0, 0, 0.1);
}

.btn-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn-box > *:nth-child(4n+1):nth-last-child(-n+4) {
  grid-column: span 2;
}

.btn-number {
  background-color: #e0e0e0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(21, 21, 20);
  border: none;
  font-size: 1.5rem;
  border-style: groove;
}

.btn-number:nth-last-child(4n+4) {
  background-color: rgb(249, 82, 66);
}

.btn-number:nth-last-child(1) {
  background-color: rgb(249, 82, 66);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 23rem;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 23rem;
}

.wrapper-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 23rem;
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-text {
  font-family: cursive;
  font-size: 80px;
  font-weight: 900;
  color: black;
  margin-bottom: 5px;
}

.author {
  font-size: 20px;
  color: #666;
}
